<header>
  <div class="container">
    <a routerLink="/" class="logo">{{title}}</a>
    
<nav class="navbar navbar-fixed-top ln-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a id="sidenav-button--slide-left" class="ln-menu sidenav-button--slide-left" href="javascript:void(0)">
        
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
        </svg>
      </a>
      <a class="ln-logo" href="">
          
     <img src="logo.png" width="120px" height="29px" >
   
       </a>
    </div>
    <div class="hidden-xs">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/" class="btn btn-primary ln-btn-sm signup">Home</a></li>
        <li><a routerLink="/about" class="btn btn-primary ln-btn-sm signup">About Us</a></li>
        <li><a routerLink="/contact" class="btn btn-primary ln-btn-sm signup">Contact</a></li>
        <li><a routerLink="/terms" class="btn btn-primary ln-btn-sm signup">Terms</a></li>
        <li><a routerLink="/faq" class="btn btn-primary ln-btn-sm signup">FAQ</a></li>
      </ul>
      
     
    </div>
  </div>
</nav>
      
      
      
  </div>
</header>